<!-- Pager -->
<ul class="pager">
	{{#if prev}}
    <li class="prev col-lg-3">
    	<a href="{{page_url prev}}">&larr; Newer Posts</a>
	</li>
	{{else}}
	<span class="col-lg-3"></span>
    {{/if}}

    <span class="page-number col-lg-6">Page {{page}} of {{pages}}</span>
    
    {{#if next}}
    <li class="next col-lg-3">
	    <a href="{{page_url next}}">Older Posts &rarr;</a>
	</li>
    {{/if}}
    
</ul>