<!DOCTYPE html>
<html>

<head>

    <!-- Theme Copyright 2014 Iron Summit Media Strategies, LLC -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{posts.[0].author.name}}">

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="{{asset "css/bootstrap.min.css"}}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{asset "css/freelancer.css"}}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{asset "css/font-awesome/css/font-awesome.min.css"}}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    

    
    <script type="text/javascript">
        if (window.location.host == "codyhatfield.me"){
                  !function(){var analytics=window.analytics=window.analytics||[];if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.0";
                    analytics.load("XcOZsANupHA9aUTO1l6HCSulCEJkogir");
                    analytics.page("Home")
                  }}();
        }
    </script>

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}

</head>

<body id="page-top" class="index">

    {{navigation}}

    {{! Everything else gets inserted here }}
    {{{body}}}

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <a class="social" href="http://twitter.com/codynhat"><i class="fa fa-twitter fa-2x" onclick="analytics.track('Social Media Clicked', { social_media: 'Twitter', src: 'footer'});"></i></a>
                        <a class="social" href="https://github.com/codynhat"><i class="fa fa-github fa-2x" onclick="analytics.track('Social Media Clicked', { social_media: 'GitHub', src: 'footer'});"></i></a>
                        <a class="social" href="http://www.linkedin.com/pub/cody-hatfield"><i class="fa fa-linkedin-square fa-2x" onclick="analytics.track('Social Media Clicked', { social_media: 'LinkedIn', src: 'footer'});"></i></a>
                        <a class="social" href="/blog"><i class="fa fa-pencil fa-2x" onclick="analytics.track('Social Media Clicked', { social_media: 'Blog', src: 'footer'});"></i></a><br><br>
                        Copyright &copy; Cody Hatfield 2015
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visble-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}


     <!-- jQuery -->
    <script src="{{asset "js/jquery.js"}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{asset "js/bootstrap.min.js"}}"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{{asset "js/classie.js"}}"></script>
    <script src="{{asset "js/cbpAnimatedHeader.js"}}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{asset "js/jqBootstrapValidation.js"}}"></script>
    <script src="{{asset "js/contact_me.js"}}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{asset "js/freelancer.js"}}"></script>

</body>
</html>
