{{!< default}}


<style type="text/css">
h1,
h2,
h3,
h4,
h5,
h6{
    text-transform: none;
}
h2,
h3,
h4,
h5,
h6{
    font-weight: 600;
}
</style>

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<!-- Header -->
<header class="intro-header" style="background: linear-gradient(rgba(44, 62, 80, 0.8), rgba(44, 62, 80, 0.8)), url({{@blog.cover}})">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{title}}</h1>
                    <time class="meta" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD, YYYY"}}</time>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {{content}}
            </div>
        </div>
    </div>
</article>

{{/post}}
<br>
<br>
<ul class="pager">
    <li class="col-lg-offset-2 col-lg-2 col-md-offset-1">
        <a href="{{@blog.url}}">&larr; All Posts</a>
    </li>
</ul>
